<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Zendit.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
				<key>dateExpires</key>
				<string>05/01/24</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>APIKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BigInt.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bip39.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CTSlidingUpPanel.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CommonKeyboard.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HTMLKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JSONRPCKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PDFGenerator.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SendBirdSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SimplePDFBuilder.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftProtobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TTTAttributedLabel.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UncommonCrypto.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WalletCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WeScan.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2AD0EFBA51E534C05282B8BA4DF8187C88770CD7</string>
						<key>dateExpires</key>
						<string>05/01/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UMF4H92863</string>
						<key>name</key>
						<string>Skynet Technology Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UMF4H92863.com.zenditapp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:zendit.page.link</string>
					<string>applinks:https://zendit.page.link</string>
					<string>applinks:www.gozendit.com</string>
					<string>applinks:https://www.gozendit.com</string>
				</array>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>UMF4H92863</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Zendit.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ae0fae44-b8bc-4f38-bd86-83147389ae29</string>
				<key>dateExpires</key>
				<string>05/01/24</string>
				<key>name</key>
				<string>Zendit_23_production</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UMF4H92863</string>
				<key>name</key>
				<string>Skynet Technology Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>2.5.2</string>
		</dict>
	</array>
</dict>
</plist>
